.footer-container {
    background-color: #111; 
    padding: 50px 150px;
  }
  
  .footer-text {
    font-size: 12px;
    color: #696969;
    letter-spacing: 0.2px;
    margin-bottom: 30px;
  }
  
  .footer-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .footer-button:first-child {
    background-color: white;
    padding: 9px 24px;
    font-weight: 600;
    color: black;
    border: none;
    width: 100px;
    transition: width 0.6s ease; 
  }
  
  
  .footer-button:first-child:hover {
    padding: 9px 24px; 
    background-color: white;
    color: black;
    width: 120px; 
  }
  
  .footer-button:last-child {
    background-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: none;
    position: relative;
    text-align: center;
  }
  
  .footer-button:last-child:hover {
    background-color: transparent;
  }
  
  .footer-button:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;  
    height: 2px;
    background-color: white;
    width: 0;  
    transition: width 0.6s ease;  
  }
  
  .footer-button:last-child:hover::after {
    width: 100%;  
  }

  .footer-icon:hover {
    background-color: #111;
    transform: scale(1.1);
  }

  .footer-icon {
    background-color: #111 !important; /* Force the background color */
    color: white !important; /* Icon color */
    border: none;
    padding: 9px 24px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .footer-icon:focus, .footer-icon:active {
    outline: none !important; /* Remove focus outline */
    background-color: #111 !important; /* Prevent the blue flash */
    box-shadow: none !important; /* Remove any shadow */
  }