.footer-container {
    background-color: var(--footer-bg); 
    padding: 5% 10%;
  }
  
  .footer-text {
    font-size: 12px;
    color: var(--footer-text);
    letter-spacing: 0.2px;
    margin-bottom: 30px;
  }
  
  .footer-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .footer-button.primary-button {
    background-color: var(--section-content);
    padding: 10px 24px;
    font-weight: 600;
    color: rgb(var(--section-bg));
    border: none;
    min-width: 100px;
    width: auto;
    border-radius: 8px;
    transition: min-width 0.6s ease; 
  }
  
  
  .footer-button.primary-button:hover {
    padding: 10px 24px; 
    background-color: var(--section-content);
    color: rgb(var(--section-bg));
    min-width: 120px; 
  }
  
  .footer-button.secondary-button {
    background-color: transparent;
    padding: 10px 24px;
    font-size: 18px;
    color: var(--section-content);
    border: none;
    position: relative;
    text-align: center;
  }
  
  .footer-button.secondary-button:hover {
    background-color: transparent;
  }
  
  .footer-button.secondary-button::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;  
    height: 2px;
    background-color: var(--section-content);
    width: 0;  
    transition: width 0.6s ease;  
  }
  
  .footer-button.secondary-button:hover::after {
    width: 100%;  
  }

  .footer-icon:hover {
    background-color: var(--footer-bg);
    transform: scale(1.1);
  }

  .footer-icon {
    background-color: var(--footer-bg) !important; /* Force the background color */
    color: var(--section-content) !important; /* Icon color */
    border: none;
    padding: 10px 24px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
  }

  .footer-icon:focus, .footer-icon:active {
    outline: none !important; /* Remove focus outline */
    background-color: var(--footer-bg) !important; /* Prevent the blue flash */
    box-shadow: none !important; /* Remove any shadow */
  }

  @media (max-width: 576px) {
    .footer-container {
      padding: 8% 5%;
    }
    .footer-buttons {
      flex-direction: column;
      gap: 10px;
    }
    .footer-button {
      width: 100%;
      text-align: center;
      transform: none !important;
    }
    .footer-button.secondary-button:hover {
      transform: none !important;
      min-width: 120px !important;
    }

    .footer-button.primary-button:hover {
      transform: none !important;
      min-width: 100px !important;
    }
    
    .footer-button.secondary-button::after {
      width: 0 !important; 
      transition: none !important;
      transform: none !important;
    }

    .footer-button, .footer-icon {
      transition: none !important;
      transform: none !important;
    }
    .footer-text {
      text-align: center;
    }
  }