.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
  color: white;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%; /* Adjust to control vertical alignment */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.custom-navbar {
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(1px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: none; 
}

.custom-navbar .nav-link {
  color: white !important; 
  text-decoration: none;
  transition: color 0.3s;
}