:root {
  --section-bg: rgb(0,0,0);
  --section-bg-opacity: 0.5
  --section-content: #fff;
  --subtitle-color: rgba(255, 255, 255);
  --subtitle-ocpacity: 0.8;
  --footer-bg: #111;
  --footer-text: #696969;
}

.hero-section {
  min-height: calc(100vh - var(--navbar-height));
  padding: 0 20px;
  scroll-margin-top: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(var(--section-bg));
  color: var(--section-content);
  font-size: 2rem;
  text-align: center;
}

html, body {
  overflow: visible;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%; /* Adjust to control vertical alignment */
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--section-content);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  line-height: 1.8;
  color: rgba(var(--subtitle-color), var(--subtitle-ocpacity));
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.custom-navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background: rgba(var(--section-bg), 0.5);
  backdrop-filter: blur(1px); 
  box-shadow: 0 4px 6px rgba(var(--section-bg), 0.1); 
  border: none; 
}

.custom-navbar .nav-link {
  color: var(--section-content) !important; 
  text-decoration: none;
  transition: color 0.3s;
}

.custom-navbar .navbar-brand {
  color: var(--section-content) !important; 
  text-decoration: none;
  transition: color 0.3s;
}